#heading1{
    color: rgb(75, 218, 75);
    background-color: aquamarine;
}

.text-pink{
    color:rgb(194, 46, 165);
}

.text-background-yellow{
    background-color: rgb(163, 152, 31);
}

body{
    background-image: url("../assets/img/sample.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    color:rgb(235, 109, 19);
}

h1{
    font-size: 3.8rem;
}

.text-para{
    font-size: 1.8rem;
    text-align: left;
    text-align-last: right;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-transform: capitalize;
    white-space: nowrap;
}
